@page
@model SupportModel

<h2>Support Request</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Issue.Name">Name</label>
        <input asp-for="Issue.Name" class="form-control" placeholder="Enter your name" />
    </div>
    <div class="form-group">
        <label asp-for="Issue.Email">Email</label>
        <input asp-for="Issue.Email" class="form-control" type="email" aria-describedby="emailHelp" placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label asp-for="Issue.PhoneNumber">Phone Number</label>
        <input asp-for="Issue.PhoneNumber" class="form-control" placeholder="Enter your phone number" />
    </div>
    <div class="form-group">
        <label asp-for="Issue.Message">Message</label>
        <textarea asp-for="Issue.Message" class="form-control" placeholder="Enter your message"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>






@{
}
